<div class="login-page">
    <div class="forms">
        <div>
            <form class="form login-form">
            <p class="login-text">Already an EnviroHub member? Log into your account.</p>

            <h2>LOGIN</h2>
                <div class="form-group">
                    <label for="email-login">email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="submit-button" type="submit">login</button>
                </div>
            </form>
        </div>
<br>

        <form class="form signup-form">
        <p class="login-text">Not a member of EnviroHub yet?</p>

            <h2>SIGN UP</h2>
            <div class="form-group">
                <label for="first-name-signup">first name:</label>
                <input class="form-input" type="text" id="first-name-signup" />
                <label for="last-name-signup">last name:</label>
                <input class="form-input" type="text" id="last-name-signup" />

            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="country-signup">Country:</label>
                <input class="form-input" type="text" id="country-signup" placeholder=" Australia" />
            </div>
            <div class="form-group">
                <label for="age-signup">Age:</label>
                <input class="form-input" type="number" id="age-signup" />
            </div>

            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup"/>
            </div>
            <div class="form-group">
                <button class="submit-button" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>