<div class="login-page">
    <div>
        <div>
            <h2>Login</h2>

            <form class="login-form">
                <div class="form-group">
                    <label for="email-login">email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="submit-button" type="submit">login</button>
                </div>
            </form>
        </div>

        <p class="not-member">Not a member of EnviroHub yet?</p>
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="first-name-signup">first name:</label>
                <input class="form-input" type="text" id="first-name-signup" />
                <label for="last-name-signup">last name:</label>
                <input class="form-input" type="text" id="last-name-signup" />

            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="submit-button" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>