<div class="map-page">


<div id="regions_div" class="map-image">
    
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/map.js"></script>

</div>
</div>