/* body, html {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-family: sans-serif;
  } */

  .mono {
    font-family: "SF Mono", "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 18px;
  }

  .centered {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width:30%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .heading {
    font-size:26px;
    font-weight:bold;
    line-height:120%;
  }

  #identicon {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    display: inline-block;
  }

  #identicon-input {
    width:100%;
    padding:4px;
    padding-left:14px;
    padding-right:14px;
    text-align:center;
    padding-top: 6px;
    border: 0;
    border-bottom: 1px solid rgb(172, 172, 172);
    overflow: hidden;
    text-overflow: ellipsis;
    color: #111;
    background-color: #ffffff00;
  }

  #identicon-input:focus {
    outline: none;
  }

  #button-png:hover {
    background-color:#f6ecff;
  }
  
  .buttons {
    display:inline-block;
    width:40px;
    box-sizing:border-box;
    padding:5px;
  }

  .svg-button {
    fill:#6a6b6c;
    fill-rule:evenodd;
    cursor:pointer;
  }

  .svg-button:hover {
    fill:#868789;
  }

  .ma-spinner {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 56px;
    margin-top: 90px;
  }

  .ma-spinner div {
    position: absolute;
    border: 4px solid #ababab;
    opacity: 1;
    border-radius: 50%;
    animation: ma-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .ma-spinner div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes ma-spinner {
    0% {
      top: 23px;
      left: 23px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 46px;
      height: 46px;
      opacity: 0;
    }
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }